<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header class="main-header" th:fragment="nav">
        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b>LT</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>殡葬管理系统</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">

                        <div class="navbar-form navbar-right">
                            <a class="btn btn-danger" th:href="@{../user}" th:if="${#httpServletRequest.remoteUser}">个人中心</a>
                            <a class="btn btn-success" th:href="@{login}" th:unless="${#httpServletRequest.remoteUser}">登录</a>
                        </div>

                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

</body>
</html>